@import "src/component/mainStyles";
$font-color: #fffff3;
$nav-color: #313860 !important;

.nav-styles{
  background-color: $nav-color;
  color:$font-color;
  box-shadow: #313860 0 0 3px;

  img{
    width: 30%;
    height: 50px;
  }
}

.name{
  @include font-medium-white;
}

@media screen and (max-width: 360px){
  .nav-styles{
    .font-size{
      font-size: 14px;
    }
    img{
      width: 12%;
      height: 40px;
    }
  }
}

