@import "src/component/mainStyles";

$font-color: gray;
$link-color: #333330;
$left: 50%;

.title {
  @include font-big;
}

.preview-badge{
  position: absolute;
  left:300px;
  padding: 0.6%;
  border-radius: 8px;
  background-color: black;
  opacity: 0.6;
  color: #fffff3;
  font-size: 13px;
}

.box-shadow {
  box-shadow: #333330 0 0 3px;
}

.min-height {
  min-height: 500px;
}

.link-div {
  height: auto;
}
.arrow-sidebar{
  width: 15px;
  height: 15px;
}

.link {
  display: block;
  @include font-medium-no-bold;

  hr{
    height: 3.5px;
  }

  &:hover, focus {
    color: $link-color;
    transition: 0.1s;
    text-decoration: none;
    font-weight: bold;
  }
}

.bar {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: $left;
}

.open-button {
  position: fixed;
  z-index: 1000;
  width: 25px;
  height: 100px;
  background-color: #f8f9fa!important;
  box-shadow: #333330 0 0 3px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  img{
    width: 18px;
    height: 18px;
    margin: 40px 0 0 5px;
  }
}

.close-button{
  position: fixed;
  left: $left;
  top: 50%;
  z-index: 500;
  width: 25px;
  height: 100px;
  background-color: #f8f9fa!important;
  box-shadow: #333330 0.5px 0 1px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  img{
    width: 18px;
    height: 18px;
    margin: 40px 0 0 5px;
  }
}