@import "src/component/mainStyles";

.souvenir {
  @include font-small;
  width: 48%;
  box-sizing: border-box;

  .souvenir-img {
    height: 200px;
  }

}
@media screen and(max-width: 2560px) {
  .souvenir {
    width: 30%;
    box-sizing: border-box;
    .souvenir-img{
      height: 400px;
    }
  }
}

@media screen and(max-width: 1440px) {
  .souvenir {
    width: 30%;
    box-sizing: border-box;
    .souvenir-img{
      height: 200px;
    }
  }
}
@media screen and(max-width: 768px) {
  .souvenir {
    width: 48%;
    box-sizing: border-box;
    .souvenir-img{
      height: 200px;
    }
  }
}

@media screen and(max-width: 450px) {
  .souvenir {
    width: 100%;
    box-sizing: border-box;
    .souvenir-img{
      height: 200px;
    }
  }
}