$font-color: #333330;
$primary-color: #313860;
$font-family: "Bookman Old Style";

.max-height {
  max-height: 700px;
}

.bg-main {
  background-color: $primary-color;
  color: #fffff3;
}

.onPress-animation {
  &:active {
    transition: 0.2s;
    transform: scale(0.98, 0.98);
  }
}

@mixin font-big {
  font-size: 30px;
  font-weight: bold;
  font-family: $font-family;
  color: $font-color;
  @media screen and (max-width: 2560px) {
    font-size: 70px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 42px;
  }
  @media screen and (max-width: 800px) {
    font-size: 35px;
  }
  @media screen and (max-width: 560px) {
    font-size: 30px;
  }
}

@mixin font-medium {
  font-size: 25px;
  font-weight: bold;
  font-family: $font-family;
  color: $font-color;

  @media screen and (max-width: 2560px) {
    font-size: 45px;
    padding: 5%;
  }
  @media screen and (max-width: 1440px) {
    font-size: 27px;
    padding: 5%;
  }
  @media screen and (max-width: 1024px) {
    font-size: 33px;
    padding: 5%;
  }
  @media screen and (max-width: 900px) {
    font-size: 27px;
    padding: 5%;
  }
  @media screen and (max-width: 600px) {
    font-size: 17px;
  }
  @media screen and (max-width: 361px) {
    font-size: 14px;
  }
}

@mixin font-medium-no-bold {
  font-size: 25px;
  font-family: $font-family;
  color: $font-color;

  @media screen and (max-width: 2560px) {
    font-size: 45px;
    padding: 5%;
  }
  @media screen and (max-width: 1440px) {
    font-size: 27px;
    padding: 5%;
  }
  @media screen and (max-width: 1024px) {
    font-size: 31px;
    padding: 5%;
  }
  @media screen and (max-width: 900px) {
    font-size: 23px;
    padding: 5%;
  }
  @media screen and (max-width: 600px) {
    font-size: 17px;
  }
  @media screen and (max-width: 361px) {
    font-size: 14px;
  }
}

@mixin font-medium-white {
  font-size: 23px;
  font-weight: bold;
  font-family: $font-family;
  color: #fffff3;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
  @media screen and (max-width: 2560px) {
    font-size: 39px;
  }
  @media screen and (max-width: 1440px) {
    font-size: 26px;
  }
  @media screen and (max-width: 700px) {
    font-size: 21px;
  }
  @media screen and (max-width: 600px) {
    font-size: 15px;
  }
  @media screen and (max-width: 450px) {
    font-size: 13px;
  }
  @media screen and (max-width: 380px) {
    font-size: 11px;
  }
  @media screen and (max-width: 361px) {
    font-size: 9px;
  }
}

@mixin font-small {
  font-size: 18px;
  font-family: $font-family;
  color: $font-color;
  @media screen and (min-width: 2560px) {
    font-size: 40px;
    padding: 5%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 30px;
    padding: 0.7%;
  }
  @media screen and (min-width: 1024px) {
    font-size: 23px;
    padding: 0.7%;
  }
  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 13px;
  }
}

@mixin font-small-no-color {
  font-size: 18px;
  font-family: $font-family;
  @media screen and (min-width: 2560px) {
    font-size: 40px;
    padding: 5%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 30px;
    padding: 0.7%;
  }
  @media screen and (min-width: 1024px) {
    font-size: 23px;
    padding: 0.7%;
  }
  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 13px;
  }
}

@mixin font-small-inherit {
  font-size: 18px;
  font-family: $font-family;
  color: whitesmoke;
  @media screen and (min-width: 2560px) {
    font-size: 35px;
    padding: 5%;
  }
  @media screen and (min-width: 1440px) {
    font-size: 26px;
    padding: 0.7%;
  }
  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 13px;
  }
}

@mixin font-small-primary-colored {
  font-size: 18px;
  font-family: $font-family;
  @media screen and (min-width: 2560px) {
    font-size: 35px;
    padding: 5%;
  }
  @media screen and (max-width: 560px) {
    font-size: 16px;
  }
  @media screen and (max-width: 360px) {
    font-size: 13px;
  }
}


.responsive-width {
  width: 800px;
  height: 350px;
}

.responsive-font-width {
  width: 800px;
  height: auto;
  @include font-small;
}

.container-width {
  width: 800px;
}


@media screen and (min-width: 2560px) {
  .responsive-width {
    width: 1500px;
    height: 450px;
  }
  .container-width {
    width: 1500px;
  }
  .responsive-font-width {
    width: 1500px;
    height: auto;
  }
}

@media screen and (max-width: 1440px) {
  .responsive-width {
    width: 800px;
    height: 400px;
  }
  .container-width {
    width: 800px;
  }
  .responsive-font-width {
    width: 800px;
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .responsive-width {
    width: 700px;
    height: 300px;
  }
  .responsive-font-width {
    width: 700px;
    height: auto;
  }
  .container-width {
    width: 700px;
  }
}

@media screen and (max-width: 920px) {
  .responsive-width {
    width: 550px;
    height: 300px;
  }
  .container-width {
    width: 550px;
  }
  .responsive-font-width {
    width: 550px;
    height: auto;
  }
}

.line {
  margin: 2px 0;
  width: 25px;
  height: 4px;
  background-color: whitesmoke;
}

.burger-menu {
  position: sticky;
  left: 90%;
  margin-bottom: auto;
}

@media screen and (max-width: 730px) {
  .responsive-width {
    width: 500px;
    height: 300px;
  }
  .container-width {
    width: 500px;
  }
  .responsive-font-width {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 690px) {
  .responsive-width {
    width: 500px;
    height: 250px;
  }
  .container-width {
    width: 500px;
  }
  .responsive-font-width {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .responsive-width {
    margin: 0 auto;
    width: 380px;
    height: 270px;
  }
  .container-width {
    width: 360px;
  }
  .responsive-font-width {
    margin: 0 auto;
    width: 380px;
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  .responsive-width {
    width: 350px;
    height: 240px;
  }
  .container-width {
    width: 400px;
  }
  .responsive-font-width {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 380px) {
  .responsive-width {
    width: 330px;
    height: 170px;
  }
  .container-width {
    width: 350px;
  }
  .responsive-font-width {
    width: 330px;
    height: auto;
  }
}
@media screen and (max-width: 320px) {
  .responsive-width {
    width: 280px;
    height: 150px;
  }
  .container-width {
    width: 300px;
  }
  .responsive-font-width {
    width: 280px;
    height: auto;
  }
}
