@import "src/component/mainStyles";

.control-panel{
  background-color: $primary-color;
  width: 55px;
  height: 150px;
}

.responsive-width {
  width: 800px;
  height: 350px;
}

.responsive-font-width {
  width: 800px;
  height: auto;
  @include font-small;
}

.container-width {
  width: 750px;
}

.main-text {
  @include font-medium;
}

.nav-slash {
  @include font-small-inherit;
}

.one-project {
  @include font-small-primary-colored;
}


video {
  background-image: linear-gradient($primary-color, $primary-color);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;

  &:hover {
    color: inherit;
    text-decoration: none;
    background-size: 100% 2px;
  }

  &:active {
    color: inherit;
    text-decoration: none;
    background-size: 100% 2px;
  }
}


.custom-link {
  @include font-small-inherit;
  font-weight: bold;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s;

  &:hover {
    color: inherit;
    text-decoration: none;
    background-size: 100% 2px;
  }
}

@media screen and (min-width: 2560px) {
  .responsive-width {
    width: 1500px;
    height: 500px;
  }
  .container-width {
    width: 1500px;
  }
  .responsive-font-width {
    width: 1500px;
    height: auto;
  }
}

@media screen and (max-width: 1440px) {
  .responsive-width {
    width: 800px;
    height: 450px;
    padding-top: 3%;
  }
  .container-width {
    width: 800px;
  }
  .responsive-font-width {
    width: 800px;
    height: auto;
  }
}

@media screen and (max-width: 1050px) {
  .responsive-width {
    width: 700px;
    height: 300px;
    padding-top: 4%;
  }
  .responsive-font-width {
    width: 700px;
    height: auto;
    padding-top: 4%;
  }
  .container-width {
    width: 700px;
  }
}

@media screen and (max-width: 920px) {
  .responsive-width {
    width: 550px;
    height: 350px;
  }
  .container-width {
    width: 550px;
  }
  .responsive-font-width {
    width: 550px;
    height: auto;
  }
}

.line{
  margin: 2px 0;
  width: 25px;
  height: 4px;
  background-color: whitesmoke;
}

.burger-menu{
  position: sticky;
  left: 90%;
  margin-bottom: auto;
}

@media screen and (max-width: 730px) {
  .responsive-width {
    width: 500px;
    height: 300px;
  }
  .container-width {
    width: 500px;
  }
  .responsive-font-width {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 690px) {
  .responsive-width {
    width: 500px;
    height: 250px;
  }
  .container-width {
    width: 500px;
  }
  .responsive-font-width {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .responsive-width {
    margin: 0 auto;
    width: 380px;
    height: 270px;
  }
  .container-width {
    width: 360px;
  }
  .responsive-font-width {
    margin: 0 auto;
    width: 380px;
    height: auto;
  }
}

@media screen and (max-width: 460px) {
  .responsive-width {
    width: 350px;
    height: 240px;
  }
  .container-width {
    width: 350px;
  }
  .responsive-font-width {
    width: 350px;
    height: auto;
  }
}

@media screen and (max-width: 380px) {
  .responsive-width {
    width: 260px;
    height: 190px;
  }
  .container-width {
    width: 260px;
  }
  .responsive-font-width {
    width: 260px;
    height: auto;
  }
}