@import "src/component/mainStyles";

.image-width {
  width: 800px;
  height: 300px;
}

.carousel-width {
  width: 750px;
}

.main-text {
  @include font-medium;
}


@media screen and (max-width: 1050px) {
  .image-width {
    width: 700px;
    height: 300px;
  }
  .carousel-width {
    width: 650px;
  }
}

@media screen and (max-width: 920px) {
  .image-width {
    width: 550px;
    height: 300px;
  }
  .carousel-width {
    width: 500px;
  }
}

@media screen and (max-width: 730px) {
  .image-width {
    width: 500px;
    height: 300px;
  }
  .carousel-width {
    width: 450px;
  }
}
@media screen and (max-width: 690px) {
  .image-width {
    width: 450px;
    height: 300px;
  }
  .carousel-width {
    width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .image-width {
    margin: 0 auto;
    width: 380px;
    height: 270px;
  }
  .carousel-width {
    width: 360px;
  }
}
@media screen and (max-width: 460px) {
  .image-width {
    width: 320px;
    height: 240px;
  }
  .carousel-width {
    width: 350px;
  }
}

@media screen and (max-width: 380px) {
  .image-width {
    width: 300px;
    height: 240px;
  }
  .carousel-width {
    width: 270px;
  }
}