@import "src/component/mainStyles";
$arrow-width: 15px;

@mixin badge-photo {
  position: absolute;
  text-align: right;
  background-color: #fffff3;
  opacity: 0.7;
  padding: 10px;
  border-radius: 10px;
  z-index: 1000;
}

.badge-photo-open {
  @include badge-photo;
  right: 30px;
  top: 120px;
  img {
    width: 45px;
    height: 45px;
  }
}

.badge-photo-close {
  @include badge-photo;
  right: 35px;
  top: 120px;

  img {
    width: 25px;
    height: 25px;
  }
}

.news-title {
  @include font-medium;
}

.date {
  @include font-small;
}

.news-block {
  overflow-y: scroll;
  @include font-small;
}

.preview {
  width: 30%;
  height: 150px;
  float: right;
  border-radius: 15px;
}

.one-news {
  z-index: 100;

  &:hover {
    transition: 0.3s;
    box-shadow: #333330 0 1px 5px;
  }
}

.arrow {
  width: $arrow-width;
  height: 15px;
  margin: 0 auto;
}


.w-25px {
  width: $arrow-width;
}

.news-logo {
  width: 30px;
  padding: 3px;
  margin: 0 1%;
}